footer {
  background: #043F70;
  color: white;
  width: 100%;
  text-align: left;
  font-family: Poppins, sans-serif;
  z-index: 5;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  max-width: 100%;
  flex: 1 1 200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

h4.footer-heading {
  color: #F4BC2A;
  font-size: 28px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact-info, .offices-info, .footer-bottom {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.offices-item {
  margin-bottom: 0.5rem;
}

.offices-item a {
  text-decoration: none;
  color: inherit;
}

.offices-item a:hover {
  color: #CC9917;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ablehearts-logo ul{
  padding-left: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.contact-item .icon {
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.contact-item span {
  white-space: nowrap;
}

.contact-item.no-icon {
  margin-left: 2.4rem;
}

.offices-info p {
  color: white;
  margin-bottom: 1rem;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  line-height: 2rem !important;
}

.social-icons img {
  vertical-align: middle;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-icons img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.footer-bottom {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.footer-bottom p {
  color: white;
  font-size: 1rem;
  margin: 0;
}

.footer-bottom a {
  text-decoration: none;
  color: #F4BC2A; 
}

.footer-bottom a:hover {
  color: #CC9917;
  opacity: 0.8;
}

.footer-quote {
  max-width: 100%;
  background-color: #00345E; 
  color: #ffffff;
  text-align: left;
  padding: 1rem 2rem;
  font-weight: 600;
  font-family: Poppins, "sans-serif";  
  font-size: 1.6rem;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Responsive Design Adjustments */
@media (max-width: 1023px) {
  .footer-wrapper {
    justify-content: flex-start;
  }
  .footer-column {
    flex-basis: calc(50% - 30px);
  }
}

@media (max-width: 769px) {
  .contact-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .ablehearts-logo {
    display: flex; 
    justify-content: center; 
    padding: 0;
    width: 100%; 
  }

  .ablehearts-logo img {
    height: 165px;
  }
}

@media (max-width: 576px) {
  .offices-item a {
    font-size: 1.3rem;
  }
  .footer-quote {
    text-align: center;
    font-size: 1.4rem;
  }

  .contact-info {
    width: 100%;
  }

  .ablehearts-logo img {
    height: 145px;
  }

  .contact-item {
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
  }

  .contact-item span {
    font-size: 20px;
  }

  .contact-item.no-icon {
    padding-left: 35px;
    margin-left: 0.2rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
}

@media (max-width: 345px) {
  .ablehearts-logo img {
    height: 132px;
  }
}

@media (min-width: 1024px) {
  .contact-item.no-icon {
    margin-left: 2.4rem;
  }
}
