.ub-app-page-background {
  position: relative;
  width: 100%;
  min-height: 120vh;
  overflow: hidden;
  background-color: #f3f3f3;
}

.ub-app-container {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgb(233, 233, 233);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ub-app-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ub-app-logo {
  width: auto;
  height: 100px;
}

.ub-app-title {
  text-align: center;
  color: #043F70;
}

.ub-app-application-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ub-app-label {
  font-weight: bold;
}

.ub-app-input,
.ub-app-textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ub-app-submit-button,
.ub-app-back-button {
  font-family: Poppins, "sans-serif";
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ub-app-submit-button:hover,
.ub-app-back-button:hover {
  background-color: #0056b3;
}

.ub-app-background-blobs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}

.ub-app-blob {
  position: absolute;
  width: 600px;
  height: auto;
  filter: blur(5px);
  animation: float 20s infinite ease-in-out;
}

.ub-app-blob.ub-app-blob-1 {
  top: -10%;
  left: -5%;
}
.ub-app-blob.ub-app-blob-2 {
  top: 0%;
  left: 80%;
}
.ub-app-blob.ub-app-blob-3 {
  top: 60%;
  left: 15%;
}
.ub-app-blob.ub-app-blob-4 {
  top: 80%;
  left: 75%;
}

.ub-app-error {
  color: red;
}

.ub-app-success-popup {
  position: fixed; /* Ensures the popup stays in view even when scrolling */
  top: 50%; /* Centers the popup vertically */
  left: 50%; /* Centers the popup horizontally */
  transform: translate(-50%, -50%); /* Adjusts for the element's own dimensions */
  z-index: 1000; /* Makes sure it's in front of other elements */
  background-color: white; /* Popup background */
  padding: 20px; /* Adds spacing inside the popup */
  border-radius: 8px; /* Smooths the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  text-align: center; /* Centers text inside */
}

.ub-app-success-close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ub-app-success-close-button:hover {
  background-color: #0056b3;
}

.ub-app-phone-input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ub-app-country-code-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ub-app-country-code-select:focus {
  outline: none;
  border-color: #007bff;
}

@media (max-width: 768px) {
  .ub-app-page-background {
    padding-top: 2rem;
  }
}